    <%= link_to new_cocktail_path do %>
        <div class="plus">
          <h1>Add A COCktaIL</h1>
        </div>
    <% end %>

<% @cocktails.each do |cocktail| %>
<% color = "##{SecureRandom.hex(3)}" %>
  <div class="index" style="background-color:<%= color %>;">
    <div class="index-cocktail">
      <div class="index-cocktail-wrapper">

        <div class="title">
          <div class="container">
            <div class="col">
              <h1><%= link_to cocktail.name, cocktail_path(cocktail), style: "color:#{color}"  %></h1>
            </div>
          </div>
        </div>

        <div class="image">
          <div class="container">
            <div class="col col--24" style="display: flex; justify-content: center; align-items: center;">
            <%= link_to cocktail_path(cocktail), class: "image-a" do  %>
              <% if cocktail.photo? %>
                <div class="image-wrapper" style="background-image: url(<%= cl_image_path cocktail.photo%>); "></div>
              <% elsif cocktail.image_url? %>
                <div class="image-wrapper" style="background-image: url(<%= cl_image_path cocktail.image_url%>); "></div>
              <% else %>
                <div class="image-wrapper" style="background-image: url('http://blommers-schumm.com/portfolio_new/128SelfServiceStill102.jpg'); "></div>
              <% end %>
            <% end %>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
<% end %>
